*{margin:0;padding:0;box-sizing:border-box;border:none;}
body{ background:url(../img/bg.jpg) center repeat;}
.div1{width:100%;height:auto;overflow:hidden;position:relative;padding:20px;height:100%;}
.box1{overflow:hidden;position:relative;left:0;top:0;}
.div2{width:100%;height:auto;overflow:hidden;position:relative;height:400px;display:block; transition:all ease 3s;margin-bottom:30px;}
.box2{overflow:hidden;position:absolute;left:55%;width:300px;top:50px; display:none}
.box3{overflow:hidden;position:absolute;right:55%;width:300px;top:50px;display:none}
.div3{width:100%;height:400px;overflow:hidden;position:relative;transition:all ease 3s;margin-bottom:30px;}
.box4{overflow:hidden;position:absolute;right:15%;display:none;transition:all ease-out 1.2s;}
.div4{width:100%;height:400px;overflow:hidden;position:relative;transition:all ease 3s;}
.box5{overflow:hidden;position:absolute;left:15%;display:block;transition:all ease-out 2s;top:0;}
.box6{overflow:hidden;position:absolute;right:15%;display:block;transition:all ease-out 2s;top:0;}
.animate01{ animation:anim01 2s ease;}
.animate02{ animation:anim02 2s ease;}
.animate03{ animation:anim03 2s ease;}
.animate04{ animation:anim04 10s linear infinite;}
.animate05{ animation:anim05 10s linear infinite;}

@keyframes anim01{
	0%{left:-500px;}
	100%{left:0%;}
	}
@keyframes anim01{
	0%{left:-500px;}
	100%{left:0%;}
	}
	
@keyframes anim02{
	0%{left:-200px;}
	100%{left:55%;}
	}
	
@keyframes anim03{
	0%{right:-200px;}
	100%{right:55%;}
	}
@keyframes anim04{
	0%{left:15%;top:0;}
	25%{left:50%;top:300px;}
	50%{left:85%;top:0;}
	75%{left:50%;top:300px;}
	100%{left:15%;top:0;}
	}
@keyframes anim05{
	0%{right:15%;top:0;}
	25%{right:50%;top:300px;}
	50%{right:85%;top:0;}
	75%{right:50%;top:300px;}
	100%{right:15%;top:0;}
	}